@if (infoPages) {
  <div>
    @if (numPageNow > 2) {
      <button (click)="changePage(urlPaginate + (numPageNow - 2), '--')">⬅️⬅️</button>
    }
    @if (infoPages.prev) {
      <button (click)="changePage(infoPages.prev, '-')">⬅️</button>
    }
    @if (numPageNow > 2) {
      <button (click)="changePage(urlPaginate + (numPageNow - 2), '--')">{{ numPageNow - 2 }}</button>
    }
    @if (numPageNow > 1) {
      <button (click)="changePage(urlPaginate + (numPageNow - 1), '-')">{{ numPageNow - 1 }}</button>
    }
    <button class="active">{{ numPageNow }}</button>

    @if (numPageNow < infoPages.pages) {
      <button (click)="changePage(urlPaginate + (numPageNow + 1), '+')">{{ numPageNow + 1 }}</button>
    }

    @if (numPageNow + 1 < infoPages.pages) {
      <button (click)="changePage(urlPaginate + (numPageNow + 2), '++')">{{ numPageNow + 2 }}</button>
    }
  
    @if (infoPages.pages - 2 > numPageNow) {
      <button>...</button>
    }
  
    @if (infoPages.next) {
      <button (click)="changePage(infoPages.next, '+')">➡️</button>
    }

    @if (numPageNow + 1 < infoPages.pages) {
      <button (click)="changePage(urlPaginate + (numPageNow + 2), '++')">➡️➡️</button>
    }
  
  
  </div>
}

