div{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

button{
  padding: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  text-align: center;
}

button:hover{
  border: 2px solid greenyellow;
}

